.logo-container{
  overflow: hidden;
  /* display: flex; */
}
.logo {
  animation: infinite-scroll 20s linear infinite;
  /* flex-shrink: 0; */
}
@keyframes infinite-scroll {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}
